@charset "UTF-8";

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.archivo-narrow-regular {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0em 4em;
}
h1, h2{
    text-transform: uppercase;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 0.2em;
}
h1{
    font-size: 2em;
    padding-left: 0.2em;
    width: fit-content;
    border:0.1em black solid;

}
h2{
    font-size: 3em;
    justify-self: center;
    transform: scaleY(2);
}
header p,h4{
    font-family: "Archivo Narrow", sans-serif;
}
header p{
    font-size: 2em;
    width: 100%;
    text-align: justify;
    font-weight:700;
    text-transform: uppercase;
}
main{
    column-count:3;
    text-indent: 1em;
}
main p{
    
    margin-block-start: 0;
    margin-block-end: 0;
}
h4{
    text-indent:0;
}
