@charset "UTF-8";
.cantata-one-regular {
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
}

.ysabeau-body-copy {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html{
    font-family: "Ysabaeu", sans-serif;
    font-weight: 200;

}
h1,
h2,
h3{
    font-family: "Cantata One", serif;
    font-weight: 400;
}



