@charset "UTF-8";

html{
    /* background colour and vignette */
    background-color: rgb(28, 39, 47);
    box-shadow: inset 0px 0px 400px rgb(1, 2, 2);
    background-size: cover;

    /* default font colour*/
    color: rgb(241, 134, 84);
}

h1{
    font-size: 4.8rem;
}
 h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
}


body{
    min-width: fit-content;
    margin: 20% 10% ;
}
/* --------------------------------- header */
header, main section, main div aside {
    
    background-color: rgb(0,0,0);

    /* box sizing and spacing  */
    padding: 3rem;
    margin-top: 3rem;
    

    /* orange and light blue glow */
    box-shadow: 
        2px 8px 12px rgba(230, 96, 34, 0.295),
        -2px -2px 30px rgba(57, 78, 95, 0.8);

    /* subtle round corner */
    border-radius: 0.4rem; 
    
    
}

header {
    /* same as album text */
    color: rgb(214,83,79);

    display:flex;

    margin-top:0;
    height: 4rem;
    padding: 4rem 4rem 8rem 4rem;
}

header section{
    min-height: fit-content;
}

header img{
    width: 275px;
    height: 275px;

    /* the vertical offset up a bit of the album*/
    position: relative;
    top: -125px;
    
    /* subtle corner rounding */
    border-radius: 0.2rem; 
}

header aside{
    /* the vertical offset down a bit of the title */
    position:relative;
    top:40px;

    /* grow to fill the flexbox */
    flex-grow:1;

    line-height: 0;
    padding-left:2rem;

    width: auto;
    text-transform: uppercase;
    
}

header img:hover{
    /* zoom */
    width: 500px;
    height: 500px;

    /* make sure its on top, 5 is arbitrary */
    z-index:5;


}
/* --------------------------------- main */
main section {
    margin-right: 1.125rem;
}

main {
    display: flex;
    
}

main section + div {
    margin-left: 1.125rem;

    /* takes away whitespace if columns are uneven */
    height: fit-content;

    /* keeps about sections from getting squished */
    min-width: 64%;
}

main div aside + aside img{
    width:100%;

    /* light blue glow */
    box-shadow: 0px 0px 30px rgba(57, 78, 95, 0.8);
}

main div aside + aside {
    margin-top: 2.25rem;
}

blockquote p + p {
    text-align: right;
}
/* --------------------------------- footer */
footer{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    text-align:center;
    align-content: space-evenly;
}

footer p{
    padding: 0rem 3rem;
    flex-grow:1;
}

/* reference link styling */
footer a{
    color: rgb(57, 78, 95);
    color: rgb(241, 134, 84);
    overflow-wrap:anywhere;
}

footer a:visited{
    color: rgb(57, 78, 95);
}

footer a:hover{
    color:whitesmoke;
    box-shadow: 0px 0px 30px rgba(57, 78, 95, 1);
    background-color:rgba(57, 78, 95, 1);
}


