@charset "UTF-8";

html{
    /* background colour and vignette */
    background-color: rgb(28, 39, 47);
    box-shadow: inset 0px 0px 400px rgb(1, 2, 2);
    background-size: cover;
    /* default font colour*/
    color: rgb(241, 134, 84);
}

header h1{
    font-size: 4.8rem;
}
 h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
}


body{
    min-width: fit-content;
    margin: 20% 10% ;
}

header, main section, main div aside {
    
    background-color: rgb(0,0,0);

    /* box sizing and spacing  */
    padding: 3rem;
    margin-top: 3rem;
    

    /* orange and light blue glow */
    box-shadow: 
        2px 8px 12px rgba(230, 96, 34, 0.295),
        -2px -2px 30px rgba(57, 78, 95, 0.8);
    /* subtle round corner */
    border-radius: 0.4rem; 
    
    
}

header {
    color: rgb(214,83,79);

    display:flex;

    margin-top:0;
    height: 4rem;
    padding: 4rem 4rem 8rem 4rem;
}
header section{
    min-height: fit-content;
}

header aside{
    position:relative;
    top:40px;
    flex-grow:1;

    line-height: 0;
    padding-left:2rem;

    width: auto;
    text-transform: uppercase;
    
}

header img{
    width: 275px;
    height: 275px;

    position: relative;
    top: -125px;
    
    
    border-radius: 0.2rem; 

}

main section {
    margin-right: 1.125rem;
}

main {
    display: flex;
    
}



main section + div {
    margin-left: 1.125rem;
    height: fit-content;
    min-width: 64%;
}

main div aside + aside img{
    width:100%;

    /* orange and light blue glow */
    box-shadow: 0px 0px 30px rgba(57, 78, 95, 0.8);
}



main div aside + aside {
    margin-top: 2.25rem;
}


blockquote p + p {
    text-align: right;
}

footer{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    text-align:center;
    align-content: space-evenly;
}
footer p{
    color: rgb(57, 78, 95);
    padding: 0rem 3rem;
    flex-shrink:1;
    overflow-wrap:anywhere;
}

