@charset "UTF-8";

html{
    background-color: rgb(23, 30, 34);
    background-size: cover;
    /* default font colour*/
    color: rgb(214,83,79);

}
h1, h2 {
    line-height: 0;
}
h1{
    font-size: 4.8rem;
}
h2{

}

body{
    margin: 20% 10% ;
    min-height: 80rem;
    display: grid;
    grid-auto-rows: 30%;
}

header{

}

main{
    
    
}

header .floating-box{
     
    
    columns: 3 275px;
    

}
#title{
    position:relative;
    width: 600px;

}

header .floating-box img{
    width: 275px;
    height: 275px;
    position: relative;
    top: -100%;
}

.floating-box{
    position: relative;
    background-color: rgb(0,0,0);
    padding: 5% 5% 10% 5%;
    height: 30%;
}