@charset "UTF-8";

html{
    background-color: rgb(23, 30, 34);
    background-size: cover;
    /* default font colour*/
    color: rgb(214,83,79);

}

body{
    margin: 20% 10% ;
    min-height: 80rem;
    box-shadow: 100px yellow;
    display: grid;
    grid-auto-rows: 30%;
}

header{
    
}

main{
    
    
}

header .floating-box{
    
    

}

header .floating-box img{
    width: 275px;
    height: auto;
    position: relative;
    top: -100%;
}

.floating-box{
    position: relative;
    background-color: rgb(0,0,0);
    padding: 5% 5% 10% 5%;
    height: 30%;
}