@charset "UTF-8";
@media screen and (max-width: 1200px){
    html{
        box-shadow: none;
    }

    header h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }

    header img{
        position: static;
        

        max-height:160px;
        width: auto;
        
    }
    header aside{
        width:100%;
        line-height:0.2rem;
        
        
    }

    header{
        min-height: fit-content;
        min-width: 80%;
        padding: 3rem;
        
    }

}
@media screen and (max-width: 730px){
    header h1{
        font-size: 2.3rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }
    header aside{
        line-height:0.4rem;
    }
}