@charset "UTF-8";
@media screen and (max-width: 1140px){
    html{
        box-shadow: none;
    }

    header h1{
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }

    header img{
        position: static;
        

        max-height:160px;
        width: auto;
        
    }
    header aside{
        width:100%;
        
        
    }

    header{
        min-height: fit-content;
        min-width: 80%;
        padding: 3rem;
        
    }

}
@media screen and (max-width: 705px){
    header h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }
}