@charset "UTF-8";
@media screen and (max-width: 1200px){
    html{
        /* wouldn't move with the screen properly */
        box-shadow: none;
    }

    h1{
        /* larger font at this screen size causes stacking */
        font-size: 2.7rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }

    header img{
        /* small screens pushed the album cover around, this makes it look better */
        position: static;
        

        max-height:160px;
        width: auto;
        
    }
    header aside{
        /* small line height caused overlap */
        width:100%;
        line-height:0.2rem;
        
        
    }

    header{
        /* album art tries to escape on small screens */
        min-height: fit-content;
        /* resets standard padding size for these boxes on small screens */
        padding: 3rem;
        
    }

}
@media screen and (max-width: 730px){
    h1{
        /* larger font at this screen size causes stacking */
        font-size: 2.3rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }
    header aside{
        /* small line height caused overlap */
        line-height:0.4rem;
    }
}