@charset "UTF-8";

html * {
  box-sizing: border-box;
  border: solid black 1px;


}
svg{
  width:10px;
  height:auto;
}


/* Positioning and movement */
body{
  display: grid;
  grid-template-areas: 
  "a a a a a"
  "b c c c d"
  "e c c c d"
  "e c c c d"
  "e c c c f"
  "e g g g g";

}
body > a {
  grid-area: b;

  height: fit-content;
}
header {
  grid-area: a;
  margin-bottom: 2rem;
}
nav {
  grid-area: e;
}
main {
  grid-area: c;
  margin: 0 2rem;
}
aside.profile{
  grid-area: d;

  position: sticky;
  top: 20vh;
}
aside#styles {
  grid-area: f;

}
footer {
  grid-area: g;
}

nav ul {
  position: fixed;
  top: 40vh;
}