@charset "utf-8";

/* Section and Image Layout */
html{
    display: flex;
    justify-content:center;
    padding: 50px 100px;
    overflow-x: scroll;
}
body{
    min-width: 1650px;
    width: 1650px;
    min-height: 2150px;
    height: 2150px;
    border: 1px solid black;

    padding: 40px 100px;

}

img{
    width:960px;
    height:auto;
}



/* Text formatting */

/* html default text */
html{


}

/*EXIT INTERVIEW*/
h1{
    color: rgb(255, 152, 79);
    text-transform: uppercase;
}

/* subtittles */
h2{

}

/* The road well travelled first subtitle  */
h2:first-of-type{

}

/* Hunter Harrison */
strong{
    color: rgb(255, 152, 79);
}

/* article paragraphs */
article p{

}

/* Life of Hunter Harrison first paragraph in article*/
article p:first-of-type{

}

/* Canadian National Abbreviations */
abbr{

}

/* quotation */
q{

}

/* 64 JANUARY 2020 REPORT ON BUSINESS footer text */
footer{
    text-transform: uppercase;
}

/* 64 page number */
em{

}

/* timestamp */
time{

}